<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchDownloaderMAUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchDownloaderMAUI.Properties.Settings>
            <setting name="VodDownloadThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Inter Embedded</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Outline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="UpdateTime" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FFZEmotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadThrottleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaximumBandwidthKib" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="TemplateVod" serializeAs="String">
                <value>[{date_custom="M-d-yy"}] {channel} - {title}</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="HideDonation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UTCVideoTime" serializeAs="String">
                <value>False</value>
            </setting>
        </TwitchDownloaderMAUI.Properties.Settings>
    </userSettings>
</configuration>